<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".activities.outOfDatePage"></activity>
        <activity android:name=".activities.activity_poll_question" />
        <activity android:name=".activities.QuestionDetailView" />
        <activity android:name=".activities.PollResultsActivity" />
        <activity android:name=".activities.ViewPollsActivityStudent" />
        <activity android:name=".activities.ViewPollsActivity" />
        <activity android:name=".activities.EditPollActivity" />
        <activity android:name=".activities.EditQuestionActivity" />
        <activity android:name=".activities.VoteQuestionActivity" />
        <activity android:name=".StudentPage" />
        <activity android:name=".PollDetails" />
        <activity android:name=".AdminPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>